<div class="container">
  <section class="intro">
    <h2>Welcome to Budget Buddy!</h2>
    <p>Your go-to homebrew solution for smart budgeting and financial management.</p>
    <button class="get-started-btn" (click)="login()">Get Started</button>
  </section>

  <section class="features">
    <div class="feature">
      <h3>Dashboard Overview</h3>
      <p>Access a comprehensive financial dashboard, showcasing your spending habits, savings, and more.</p>
    </div>
    <div class="feature">
      <h3>Expense Tracking</h3>
      <p>Easily input and track every expense. Never lose sight of where your money goes.</p>
    </div>
    <div class="feature">
      <h3>Future Planning</h3>
      <p>Set future financial goals and track your progress towards achieving them.</p>
    </div>
    <!-- Add more features as needed -->
  </section>
  <section class="outro">
    <h2>...and so much more!</h2>
  </section>
</div>
