<div class="nav-container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <ul>
      <li>
        <a (click)="navigate('/home/dashboard')" class="active">
          <i aria-hidden="true" class="fa fa-tachometer"></i> Dashboard
        </a>
      </li>
      <li>
        <a (click)="navigate('/home/ledger')">
          <i aria-hidden="true" class="fa fa-book"></i> Ledger
        </a>
      </li>
      <li>
        <a (click)="navigate('/home/spending')">
          <i aria-hidden="true" class="fa fa-money"></i> Spending Habits
        </a>
      </li>
      <li>
        <a (click)="navigate('/home/alerts')">
          <i aria-hidden="true" class="fa fa-bell"></i> Alerts
        </a>
      </li>
    </ul>
  </aside>

  <!-- Main content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>
