<div class="nav-container">

  <!-- Sidebar -->
  <aside class="sidebar">
    <ul>
      <li>
        <a [routerLink]="['/home/dashboard']" [routerLinkActive]="'active'">
          <i aria-hidden="true" class="fa fa-tachometer"></i> Dashboard
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/ledger']" [routerLinkActive]="'active'">
          <i aria-hidden="true" class="fa fa-book"></i> Ledger
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/spending']" [routerLinkActive]="'active'">
          <i aria-hidden="true" class="fa fa-money"></i> Spending Habits
        </a>
      </li>
      <li>
        <a [routerLink]="['/home/alerts']" [routerLinkActive]="'active'">
          <i aria-hidden="true" class="fa fa-bell"></i> Alerts
        </a>
      </li>
    </ul>
  </aside>

  <!-- Main content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>
