@import 'reset.less';
@import 'firebaseui/dist/firebaseui.css';
@import 'node_modules/typeface-sriracha/index.css';

body {
  background: #dddddd;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
